*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
}

a {
    text-decoration: none;
    color: #333;
}

nav,
section,
aside,
footer {
    display: block;
}

#top-header {
    font-size: 0.9em;
    background-color: #ebebeb;
}

#top-header ul {
    display: block;
    text-align: center;
    list-style: inside none;
    margin-bottom: 0;
    margin-top: 0;
    border-bottom: 1px solid #ccc;
}

#top-header >ul>li {
    display: inline-block;
    margin-bottom: -1px;
}

#top-header ul a {
    color: #999;
    padding: 5px 15px;
    display: block;
}

#top-header ul > li > a > i {
    color: #4bc970;
}

.dropdown-menu {
    position: relative;
}

.dropdown-menu > a {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.dropdown-menu:hover > a {
    background-color: #fff;
    border-left-color: #ccc;
    border-right-color: #ccc;
}

#top-header .dropdown-menu .dropdown-content {
    /*    display: none;*/
    padding: 0;
    position: absolute;
    background-color: #fff;
    text-align: left;
    border: 1px solid #ccc;
    border-top: 0;
    z-index: 1000;
    margin-bottom: -1px;
    overflow: hidden;
    transform: translateY(-300px);
}

#top-header .dropdown-content-left {
    left: 0;
}

#top-header .dropdown-content-right {
    right: 0;
}

.dropdown-content li {
    white-space: nowrap;
    display: block;
    width: 100%;
}

.dropdown-content > li:hover a {
    background-color: bisque;
}

#top-header .dropdown-menu:hover .dropdown-content {
    display: block;
    transition: all 0.6s ease-out;
    transform: translateY(0);
}

.user-form {
    margin: 5px 15px;
}

.user-form div {
    margin: 10px 0;
}

.user-input {
    display: block;
    width: 230px;
    height: 30px;
    position: relative;
    background-color: aqua;
}

.user-input input {
    width: 100%;
    height: 100%;
    padding: 5px;
    padding-left: 25px;
    outline: none;
    border: 1px solid #ccc;
}

.user-input i {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.user-form button {
    padding: 5px;
    display: block;
    width: 100%;
    color: #FFF;
    background-color: #4bc970;
    text-align: center;
    font-weight: bold;
    border: 1px solid #3ac162;
}

div.external-login-google,
div.external-login-facebook {
    display: block;
    color: #fff;
    height: 30px;
    padding-bottom: 20px;
    line-height: 30px;
}

div.external-login-google {
    background-color: crimson;
}

div.external-login-facebook {
    background-color: blue;
}

div.external-login-google > span,
div.external-login-facebook >span {
    display: inline-block;
    width: 40px;
    margin-right: 10px;
    height: 30px;
    text-align: center;
    float: left;
}

div.external-login-google > span {
    background-color: brown;
}

div.external-login-facebook >span {
    background-color: darkblue;
}


/**********************************************/


/*Main navigation*/

#main-header {
    font-size: 100%;
    display: block;
    background-color: #fff;
    margin-top: 15px;
}

#main-header:after {
    content: ' ';
    display: block;
    clear: both;
}

#main-header-wrapper {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#main-header-wrapper:after {
    content: ' ';
    display: block;
    clear: both;
}

#main-header #logo {
    display: inline-block;
    float: left;
}

#main-header-wrapper img {
    width: 200px;
    height: 100px;
}

#search_tool {
    width: 60%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    float: left;
}

#search_box {
    border: 1px solid #4bc970;
    width: 80%;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
}

#search_box:after {
    content: ' ';
    display: block;
    clear: both;
}

#search_box span {
    display: inline-block;
    width: 20%;
    height: 100%;
    background: #ebebeb;
    padding: 0;
    float: left;
}

.filter ul {
    list-style: inside none;
    border: 1px solid #ccc;
    margin-top: 5px;
    display: none;
    position: relative;
}

.filter:hover ul {
    display: block;
}

.filter ul:after,
.filter ul:before {
    content: ' ';
    display: inline-block;
    width: 0;
    height: 0;
    left: 50%;
    bottom: 100%;
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    transform: translateX(-50%);
    position: absolute;
}

.filter ul:after {
    border-width: 5px;
    border-bottom-color: white;
}

.filter ul:before {
    border-width: 6px;
    border-bottom-color: #ccc;
}

.filter li {
    border-bottom: 1px solid #ccc;
}

.filter li:nth-child(3) {
    border-bottom-color: transparent;
}

#search_tool input {
    float: left;
    height: 38px;
    width: 60%;
    border: 0;
}

#search_tool button {
    display: inline-block;
    width: 20%;
    height: 100%;
    float: left;
    border: 0;
    background-color: #4bc970;
}

#cart-tool {
    display: block;
    width: 20%;
    height: 100px;
    line-height: 100px;
    float: right;
    position: relative;
    text-align: right;
}

#cart-tool a {
    margin-left: 20px;
}

#cart-tool:after {
    content: ' ';
    display: block;
    clear: both;
}

.notify {
    width: 30px;
    height: 30px;
    position: absolute;
    line-height: 30px;
    background-color: #f44f00;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    margin-left: 30px;
    /*    right: 2px;*/
}

.notify:after {
    content: ' ';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    margin-left: 10px;
    border-width: 5px;
    border-top-color: #f44f00;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}


/******************************************/


/*Format main body*/

#main-body i {
    color: #50c970;
}

#main-body {
    background-color: #ebebeb;
    width: 100%;
    display: block;
}

#main-body-wrapper {
    display: block;
    width: 1209px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: left;
}

#main-body-wrapper:after {
    content: ' ';
    display: block;
    clear: both;
}


/* Format menu left */

#main-body-left-menu {
    display: inline-block;
    width: 223px;
}

#main-body-wrapper ul {
    display: block;
    list-style: inside none;
}

#main-body-wrapper ul li {
    padding: 10px 25px 10px 15px;
    background-color: #fff;
    display: block;
    list-style-position: inside;
    text-align: left;
    white-space: nowrap;
}

#main-body-wrapper ul li:hover {
    background-color: aquamarine;
}

#main-body-left-menu > ul > li:nth-child(1) {
    background-color: #f44f00;
    font-weight: bold;
}

#main-body-left-menu > ul > li:nth-child(1):hover {
    background-color: aquamarine;
}

#main-body-wrapper i {
    display: inline-block;
    width: 20px;
    text-align: center;
}

#main-body-wrapper i {
    text-align: center;
}


/* Format sub body left menu */

.sub-body-left-menu {
    display: block;
    position: relative;
}

.sub1-body-left-menu {
    display: none;
    position: absolute;
    width: 500px;
    top: 0;
    transform: translateX(41.5%);
    background-color: #fff;
    box-shadow: -3px -3px 8px #666;
    z-index: -1;
}

.sub-body-left-menu:hover .sub1-body-left-menu {
    display: block;
    z-index: 1000;
}

.sub1-body-left-menu > ul {
    display: inline-block;
    float: left;
}

.sub1-body-left-menu > ul > li {
    display: inline-block;
    width: 250px;
}

.sub1-body-left-img {
    display: block;
    width: 100%;
    background-color: #fff;
}

.sub1-body-left-img:hover {
    background-color: aquamarine;
    cursor: pointer;
}

.sub1-body-left-menu img {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: block;
    width: 180px;
    height: 200px;
}


/* Format banner right */

#main-body-right-menu {
    display: inline-block;
    width: 986px;
    height: 400px;
    float: right;
}

#main-body-right-menu:after {
    content: ' ';
    display: block;
    clear: both;
}

#main-body-right-banner {
    position: relative;
}

#main-body-right-menu img {
    width: 986px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: sample;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}


/*Define animation actions*/

@keyframes sample {
    0% {
        opacity: 1;
    }
    /*~ 2.05s*/
    17% {
        opacity: 1;
    }
    /*~3s*/
    25% {
        opacity: 0;
    }
    /*~11.4s*/
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#main-body-right-menu img:nth-of-type(1) {
    animation-delay: 9s;
}

#main-body-right-menu img:nth-of-type(2) {
    animation-delay: 6s;
}

#main-body-right-menu img:nth-of-type(3) {
    animation-delay: 3s;
}

#main-body-right-menu img:nth-of-type(4) {
    animation-delay: 0s;
}


/*Format ads */

#main-body-ads {
    display: inline-block;
    width: 224px;
    height: 502px;
    float: left;
}

#main-body-ads:after {
    content: ' ';
    display: block;
    clear: both;
}

#main-body-ads img {
    width: 100%;
    height: 100%;
}


/*Format main panel*/

.main-panel {
    display: inline-block;
    width: 985px;
    margin-top: -50px;
}

.main-panel-top {
    display: table;
    width: 100%;
    background-color: #ffe4c4;
}

.main-panel-top:after {
    content: ' ';
    display: block;
    clear: both;
}

.main-panel-top span {
    display: table-cell;
    float: left;
    background-color: #4bc970;
    padding: 20px 10px 20px 20px;
    position: relative;
    margin-right: 50px;
}

.main-panel-top span:after {
    content: ' ';
    display: block;
    clear: both;
    width: 0;
    height: 0;
    position: absolute;
    border-style: solid;
    border-width: 29px;
    border-top-color: transparent;
    border-left-color: #4bc970;
    border-bottom-color: transparent;
    border-right-color: transparent;
    left: 100%;
    top: 0%;
}

.main-panel-top a {
    display: table-cell;
    float: left;
    padding: 11px 12px 11px 12px;
    color: #666666;
}

.main-panel-top a:hover {
    outline-width: 1px;
    outline-color: #f44f3d;
    outline-style: solid;
}

.main-panel-top a i {
    display: block !important;
    font-size: 20px;
    margin: auto;
    color: #666666 !important;
}

.main-panel-bottom {
    display: inline-block;
    width: 22;
    margin: 20px 0px 20px 20px;
}

.sub-main-banner-bottom {
    display: inline-block;
    width: 225px;
}

.sub-main-banner-bottom:hover {
    outline-width: 1px;
    outline-color: #f44f3d;
    outline-style: solid;
}

.sub-main-banner-bottom img {
    width: 188px;
    height: 165px;
    margin-bottom: 10px;
    ;
}

.price {
    display: block;
    font-size: 18px;
    text-align: center;
    color: red;
}

.name-phone {
    display: block;
    font-size: 19px;
    text-align: center;
}